html{font-family:'Bradley Hand ITC'}

.imgrond{
    margin-top:1%;
    border-radius: 500%;
   }


body{
    text-align: center;
    border-style: solid;
    margin-bottom: 100%;
}

img{
        width: 150px;
        height: 150px;

}
.room {
    border-style: solid ;
    
  
  
}
